.footer__column-link {
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  text-decoration: none;
  color: white;
  display: block;
  margin-bottom: 10px;
}

.footer__column-link:hover {
  opacity: .6;
  transition: opacity .5s ease;
}
